[submodule "basic-chat-application"]
	path = basic-chat-application
	url = https://github.com/lennartdeknikker/basic-chat-application.git
[submodule "bus-tracker"]
	path = bus-tracker
	url = https://github.com/lennartdeknikker/bus-tracker.git
