[submodule "basic-chat-application"]
	path = basic-chat-application
	url = https://github.com/lennartdeknikker/basic-chat-application.git
[submodule "wiki-game"]
	path = wiki-game
	url = https://github.com/lennartdeknikker/wiki-game.git
